

{% extends 'auth_app/base.html' %}
{% load static %}

{% block title %} Kerala Matrimony - The No. 1 Matrimony Site for Keralas - KeralaMatrimony.com {% endblock %}

{% block content %}

<div>
    
    <div class="h-20 border-bottom-2 mb-2 flex mt-5" >
        <div class="w-6/12 flex items-center px-8 ">
            <div>
                <p class="text-light text-small">From Matrimony.com Group</p>
                <img class="w-48 h-12" src="{% static 'images/icon-full.png' %}">
            </div>
        </div>
       
    </div>
 
    
    <div class="bg-white w-full mt-8 flex">
        

        <div class="w-2/4 h-11/12 mx-3">
            <img src="{% static 'images/register_2.png' %}"/>
        </div>

        <div class="w-2/4 h-11/12 mx-3">
            <p class="text-2xl text-black mb-10">Tell us about your basic details</p>

            <div class="mb-4 flex mt-3" >
                <label class="w-5/12 text-black font-light text-2xl">Date of birth </label>
                <input type="date" class="w-9/12" id="dob"/>
            </div>
            <div class="mb-4 flex mt-3" >
                <label class="w-5/12 text-black font-light text-2xl">Religion</label>
               <div class="w-full px-12">
                <select id="registerSelectReligion" class="bg-white text-black font-normal  w-full text-start py-3 rounded-xl border-2 border-gray-300 px-3">
                   
                    <option value=""> Select Religion</option>
                    <option value="Christian" >Christian</option>
                    <option value="Muslim" >Muslim</option>
                    <option value="Hindu"> Hindu </option>
              >

                </select>
               </div>
            </div>
            <div class="mb-4 flex mt-3" >
                <label class="w-5/12 text-black font-light text-2xl">Mother Tongue </label>
                <div class="w-full px-12">
                <select id="registerSelectLanguage" class="bg-white text-black font-normal  w-full text-start py-3 rounded-xl border-2 border-gray-300 px-3">
                   
                    <option value=""> Select Language</option>
                    <option value="Malayalam" >Malayalam</option>
                    <option value="Tamil" >Tamil</option>
                    <option value="Hindi"> Hindi </option>
                  

                </select>
            </div>
            </div>
            <div class="mb-4 flex mt-3" >
                <label class="w-5/12 text-black font-light text-2xl">Email Id </label>
                <input type="email" class="w-9/12" id="email"/>
            </div>
            <div class="mb-4 flex mt-3" >
                <label class="w-5/12 text-black font-light text-2xl">Password </label>
                <input type="password" class="w-9/12" id="password"/>
            </div>

            <p class="text-red-500 text-center font-bold hidden" id="registerFillValues">Fill all form fields</p>
            <p class="text-red-500 text-center font-bold hidden" id="registerError">Invalid Credentials.</p>
            <div  class="flex justify-center">

                <button id='loginBtn' class="w-2/4 bg-[#f48323] text-white p-3 my-4 rounded-2xl mx-auto">Continue</button>
            </div>

        </div>

        
    </div>

    <div class="bg-white my-10">
        <p class="text-2xl font-light text-center">Copyright © 2024. All rights reserved.</p>
    </div>
    
      
      
</div>


<script>

const storedUserData = localStorage.getItem('newUserData');
    let userData = {};
    
    if (storedUserData) {
        userData = JSON.parse(storedUserData);
        console.log('User data retrieved from localStorage', userData);
    }else{
        location.href='/';
    }


document.addEventListener('DOMContentLoaded', () => {
    console.log('fully loaded2');
    const loginBtn = document.querySelector('#loginBtn');

    
  


    loginBtn.addEventListener('click', (evt) => {
        evt.preventDefault();
        const selectValueReligion = document.querySelector('#registerSelectReligion')
        const selectValueLanguage = document.querySelector('#registerSelectLanguage')
        const fillUpValuesPara = document.querySelector('#registerFillValues');
        fillUpValuesPara.classList.add('hidden');
        const dob = document.querySelector('#dob').value;
        const emailId = document.querySelector('#email').value;
        const password = document.querySelector('#password').value;
        if (dob === '' || emailId === '' || password== '' || selectValueLanguage.value == '' || selectValueReligion.value == '' ) {
            console.log(selectValueReligion.value,selectValueLanguage.value,dob,emailId,password)
            fillUpValuesPara.classList.remove('hidden');
            return;
        }

        userData.dob = dob;
    userData.email = emailId;
    userData.password = password;
    userData.religion = selectValueReligion.value;
    userData.language = selectValueLanguage.value;

    // Save the updated user data back to localStorage
    localStorage.setItem('newUserData', JSON.stringify(userData));
    console.log('User data updated in localStorage', userData);
    location.href = '/register3';
    });


});

</script>

{% endblock %}